
[id^="goto-screen"] {
    cursor:         pointer;
    contain:        content;

    border-color:   transparent;
    border-style:   solid;
    border-width:   0.2rem  0rem;

    transition-property: border-bottom-color, transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}
/* [id^="goto-screen"][data-screen-current] {
    border-bottom-color: currentColor;
} */
/* js auto-focuses these on pointer-entry */
[id^="goto-screen"]:focus {
    outline:        none;
    /* border-bottom-color: var(--colour-mainFg); */
    transform: scale(1.04);
}

nav {
    z-index:        1000;
    contain:        content;
    position:       sticky;
    top:            0px;
    overflow:       hidden;
    padding:        0rem  0.3rem;

    display:        flex;
    justify-content: space-between;
    align-items:    stretch;
    flex-wrap:      wrap;

    font-size:      0.9rem;
    background-color: var(--colour-white);
}
nav > .nav-side {
    display:        flex;
    align-items:    stretch;
    background-color: inherit;
}
nav > .nav-side > * {
    display:        flex;
    align-items:    center;
    margin:         0.2rem;
    padding:        0.2rem  0.8rem;
    background-color: inherit;
}
.nav-title {
    color:          var(--colour-title);
    font-size:      2.3rem;
    font-family:    "Abril Fatface", "Georgia", cursive;
}

/* Responsive Nav Layout Rules */
@media screen and (max-aspect-ratio: 2/3) {
    nav {
        padding:    0rem  0rem;
        justify-content: space-evenly;
        font-size:  0.75rem;
    }
}


#main-motto {
    padding:        0.8rem;
    font-style:     italic;
    background-color: var(--colour-tone0);
}
#main-blurb {
    padding:        2rem;
    font-size:      75%;
    background-color: var(--colour-white);
}


footer {
    contain:        content;
    padding:        0.6rem;
    overflow:       hidden;
    display:        grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--colour-tone0);
}
#social-media-links {
    --dimensions:       2.5rem;
    align-self:         center;
    display:            inline-grid;
    /* grid-auto-columns:  3rem;
    grid-template-rows: 3rem; */
    grid-auto-flow:     column;
    justify-content:    flex-start;
    opacity:            0.7;
}
#social-media-links > * {
    margin:             calc(0.2 * var(--dimensions));
    height:             var(--dimensions);
    width:              var(--dimensions);
    -webkit-mask-image: var(--mask-url);
    mask-image:         var(--mark-url);
    background-color:   var(--colour-mainFg);
    transition: opacity 0.35s ease-in-out;
}
#social-media-links:focus-within > :not(:focus) {
    opacity:            0.5;
}
#social-ig { --mask-url: url("https://unpkg.com/simple-icons@v2/icons/instagram.svg"); }
#social-fb { --mask-url: url("https://unpkg.com/simple-icons@v2/icons/facebook.svg");  }

#legal-notices {
    display:        flex;
    flex-flow:      column;
    align-items:    stretch;
    justify-content: center;
    font-size:      0.8rem;
    background-color: inherit;
}
#legal-notices > * {
    padding:        0.1rem;
    display:        flex;
    flex-flow:      column;
    align-items:    stretch;
}

/* Responsive Footer Layout Rules */
@media screen and (max-aspect-ratio: 1/1) {
    footer {
        grid-template-columns: max-content auto;
    }
    #legal-notices {
        justify-content: space-evenly;
        padding-left:   0.7rem;
        padding-right:  0.7rem;
        font-size:      0.9rem;
    }
}
@media screen and (max-aspect-ratio: 2/3) {
    #social-media-links {
        --dimensions:   1.5rem;
        grid-auto-flow: row;
    }
    footer {
        grid-template-columns: 1fr 3fr 1fr;
    }
}
