
#screen-main {
}
#screen-main > * {
}

.main-scroll {
    display: grid;
    grid-template: "A" minmax(100vh, auto) / 1fr;
    align-items: stretch;
}
.main-scroll__content {
    pointer-events:     none;
    grid-area:          A;
    background-size:    cover;
    background-repeat:  repeat;
    background-origin:  border-box;
}

.submission {
    pointer-events: all;
    cursor:         pointer;
}
