
#screen-main {
}
#screen-main > * {
}

.main-scroll {
    display: grid;
    grid-template: "A" minmax(100vh, auto) / 1fr;
    align-items: stretch;
}
.main-scroll__houses,
.main-scroll__background {
    pointer-events:     none;
    grid-area:          A;
    background-size:    cover;
    background-repeat:  repeat;
    background-origin:  border-box;
}
.main-scroll__houses {
    background-image: url("../images/houses.svg");
}
.main-scroll__background {
    background-image: url("../images/road_150ppi.png");
}

.main-scroll__content {
    grid-area:      A;
    min-width:      100%;
}
