
[data-colour-scheme="scheme0"] {
    --colour-white:     #ffffff;
    --colour-mainFg:    #737373;
    --colour-mainFg-thin:#73737340;
    --colour-mainFg-behind-shadow:#73737380;
    /* ^For the background with box-shadow. I
    really wish CSS had opacity functions. */
    --colour-tone0:     #eae1ca;
    --colour-tone1:     #d8d9b4;
    --colour-blue:      #a1d1ca;
}

/* If anything goes into fullscreen mode: */
::backdrop {
    background-color: var(--colour-white);
}

html {
    scroll-behavior: smooth;
}
body {
    font-family:    "open-sans";
    color:          var(--colour-mainFg);
    text-align:     center;

    background-color: var(--colour-white);

    /* Make sure the footer always aligns to the
    bottom of the viewport even if there isn't enough
    content to push it there via overflow: */
    display:        grid;
    grid-template:
        "nav"       max-content
        "main"      auto
        "footer"    max-content
        / 1fr;
    align-content:  space-between;
    min-height:     100vh;
    box-sizing:     border-box;
}
body > * {
    grid-area: main;
}
body > nav {
    grid-area: nav;
}
body > footer {
    grid-area: footer;
}

/* The CSS doesn't do much. The class is more to
identify the element as a screen for the js to
toggle whether or not it should be displayed. */
.cwg-screen {
    contain:        content;
    position:       relative;
}

table {
    border-spacing: 0;
}
