
[data-colour-scheme="scheme0"] {
    --colour-white:     #ffffff;
    --colour-mainFg:    #737373;
    --colour-mainFg-thin:#73737340;
    --colour-tone0:     #eae1ca;
    --colour-tone1:     #d8d9b4;
    --colour-blue:      #a1d1ca;
}
